@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    padding-top: 0px; /* Ajoute un espace en haut pour compenser la hauteur du menu */
}

@media (max-width: 1024px) {
    .main-container {
        padding-top: 30px; /* Ajoute un padding-top seulement sur petit écran téléphone */
    }
}

/* Pour le conteneur */
.project-card {
    max-width: 400px; /* Largeur maximale du conteneur */
    height: 280px; /* Hauteur fixe pour uniformiser les cartes */
}

/* Pour l'image */
.project-card img {
    width: 100%;
    height: 180px; /* Hauteur fixe de l'image */
    object-fit: cover;
    border-radius: 8px;
}
