section {
    min-height: 100vh; /* Prend au moins toute la hauteur de la fenêtre */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Modal Styling */
#project-modal {
    animation: fadeIn 0.3s ease-out;
}

#about {
    scroll-margin-top: 120px; /* Décalage pour tenir compte d'une barre de navigation fixe */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#modal-carousel {
    width: 100%; /* Adapte la largeur à celle du modal */
    position: relative;
    overflow: hidden;
}

#carousel-images {
    display: flex;
    width: 100%; /* S'adapte à la largeur de l'écran */
    height: auto; /* Ajuste automatiquement la hauteur */
    overflow: hidden; /* Supprime les barres de défilement */
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

#carousel-images img {
    flex-shrink: 0;
    width: 100%; /* Adapte à la largeur du modal */
    height: auto;
    max-height: 70vh; /* Images ne dépassant pas 70% de la hauteur de la fenêtre */
    object-fit: contain;
    border-radius: 8px;
}

/* Buttons */
#prev-slide, #next-slide {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

#prev-slide:hover, #next-slide:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

/* Style du bouton Ajouter un projet */
.projects-button {
    background-color: theme('colors.primary'); /* Couleur principale */
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.projects-button:hover {
    background-color: #4338ca; /* Couleur au survol */
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Style de la pop-up */
#tooltip {
    background-color: #2d3748; /* Fond sombre */
    color: white; /* Texte blanc */
    border-radius: 0.5rem; /* Coins arrondis */
    font-size: 0.875rem; /* Taille de texte */
    text-align: center;
    white-space: nowrap;
    z-index: 10;
    opacity: 0; /* Caché par défaut */
    pointer-events: none; /* Désactive les interactions */
    transition: opacity 0.3s ease-in-out; /* Animation de fondu */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre subtile */
}

/* Triangle en dessous du tooltip */
#tooltip::before {
    content: '';
    position: absolute;
    bottom: 100%; /* Pointe vers le bouton */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #2d3748 transparent;
}

