@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar-bg: var(--navbar-bg);
  --color-navbar-text: var(--navbar-text);
  --color-navbar-border: var(--navbar-border);
  --color-navbar-active-bg: var(--navbar-active-bg);

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

/* --- THÈME CLAIR (Light Mode) --- */
:root {
  --background: #FAFAFA;
  --foreground: #171717;

  /* Navbar Light */
  --navbar-bg: rgba(255, 255, 255, 0.8);
  --navbar-text: #000000;
  --navbar-border: rgba(0, 0, 0, 0.1);
  --navbar-active-bg: #E5E5E5;

  /* Light well */
  --light-orb: rgba(59, 130, 246, 0.8);

  /* Badges */
  --badge-bg: #F4F4F5;
  --badge-text: #52525B;
  --border-color: #E4E4E7;
}

/* --- THÈME SOMBRE (Dark Mode) --- */
.dark {
  --background: #0a0a0a;
  --foreground: #EDEDED;

  /* Navbar Dark */
  --navbar-bg: rgba(5, 5, 5, 0.8);
  --navbar-text: #FFFFFF;
  --navbar-border: rgba(255, 255, 255, 0.1);
  --navbar-active-bg: #27272A;

  /* Light well */
  --light-orb: rgba(59, 130, 246, 0.3);

  /* Badges */
  --badge-bg: #18181B;
  --badge-text: #A1A1AA;
  --border-color: #27272A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.ambient-light-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 700px;
  z-index: 0;
  pointer-events: none;

  background-image: radial-gradient(
          ellipse 100% 50% at 50% 0%,
          var(--light-orb) 0%,
          transparent 70%
  );

  filter: blur(100px);
  opacity: 1;
}