@import "tailwindcss";

:root {
  /* --- PAGE : Noir clair / Gris foncé --- */
  --background: #1E1E1E;
  --foreground: #EDEDED; /* Texte blanc cassé pour ne pas agresser les yeux */

  /* --- NAVBAR : Noir très foncé --- */
  --navbar-bg: #050505;
  --navbar-text: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-navbar: var(--navbar-bg);
  --color-navbar-text: var(--navbar-text);
}

/* On garde le support dark mode au cas où, mais avec les mêmes teintes */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #EDEDED;
    --navbar-bg: #050505;
    --navbar-text: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}