@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar-bg: var(--navbar-bg);
  --color-navbar-text: var(--navbar-text);
  --color-navbar-border: var(--navbar-border);
  --color-navbar-active-bg: var(--navbar-active-bg);

  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

/* --- Light Mode --- */
:root {
  --background: #FAFAFA;
  --foreground: #171717;

  /* Navbar Light */
  --navbar-bg: rgba(255, 255, 255, 0.8);
  --navbar-text: #000000;
  --navbar-border: rgba(0, 0, 0, 0.1);
  --navbar-active-bg: #E5E5E5;

  /* Light well */
  --light-orb: rgba(59, 130, 246, 0.8);
}

/* --- Dark Mode --- */
.dark {
  --background: #0a0a0a;
  --foreground: #EDEDED;

  /* Navbar Dark */
  --navbar-bg: rgba(5, 5, 5, 0.8);
  --navbar-text: #FFFFFF;
  --navbar-border: rgba(255, 255, 255, 0.1);
  --navbar-active-bg: #27272A;

  /* Light well */
  --light-orb: rgba(59, 130, 246, 0.3);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}
.ambient-light-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 700px;
  z-index: 0;
  pointer-events: none;

  background-image: radial-gradient(
          ellipse 100% 50% at 50% 0%,
          var(--light-orb) 0%,
          transparent 70%
  );

  filter: blur(100px);
  opacity: 1;
}