@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar-bg: var(--navbar-bg);
  --color-navbar-text: var(--navbar-text);
  --color-navbar-border: var(--navbar-border);

  /* 👇 AJOUTE CECI : On lie la classe 'font-sans' de Tailwind à ta variable Next.js */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

/* --- THÈME CLAIR (Light Mode) --- */
:root {
  --background: #FAFAFA; /* Un blanc cassé très léger, moins agressif que #FFFFFF */
  --foreground: #171717; /* Noir presque pur pour le texte */

  /* Navbar Light */
  --navbar-bg: rgba(255, 255, 255, 0.8);
  --navbar-text: #000000;
  --navbar-border: rgba(0, 0, 0, 0.1);
}

/* --- THÈME SOMBRE (Dark Mode) --- */
/* L'attribut .dark est ajouté automatiquement par next-themes */
.dark {
  --background: #0a0a0a; /* Ta couleur demandée : Noir profond éco-friendly */
  --foreground: #EDEDED; /* Blanc cassé pour le texte */

  /* Navbar Dark */
  --navbar-bg: rgba(5, 5, 5, 0.8);
  --navbar-text: #FFFFFF;
  --navbar-border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;

  /* Ajoute cette ligne si elle manque pour un effet fluide */
  transition: background-color 0.3s ease, color 0.3s ease;
}